<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link th:href="@{/css/estiloMensaje.css}" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <nav id = "menu" class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div th:include="paginas/reutilizable/navbar.html" th:remove="tag"></div>
        </nav>
        <div class="container mt-4" id="container_mensages">
            <div class="alert alert-danger alert-dismissable" th:if="${error != null}">
                <label th:text="${error}" class="label_mensaje"></label>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
        <div class="container mt-5">
            <div class="container">
                <div class="table-responsive">
                    <table class="table table-light table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Lider</th>
                                <th scope="col">Identidad Lider</th>
                                <th scope="col">Titulo Proyecto</th>
                                <th scope="col">Departamento</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="reporteSupervision : ${listaReporte}">
                                <td th:text="${reporteSupervision.idProyecto}"></td>
                                <td th:text="${reporteSupervision.nombreLider}"></td>
                                <td th:text="${reporteSupervision.identidadLider}"></td>
                                <td th:text="${reporteSupervision.idDepartamento.nombre}"></td>
                                <td th:text="${reporteSupervision.titulo}"></td>
                                <td th:text="${reporteSupervision.estado}"></td>
                                <td>
                                    <a class="btn btn-warning" th:href="@{/reporteCoordinadorProfesional/{id} (id=${reporteSupervision.idProyecto})}">Reporte C. Profesional</a>
                                    <a class="btn btn-warning" th:href="@{/reporteCoordinadorTecnico/{id} (id=${reporteSupervision.idProyecto})}">Reporte C. Tecnico</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div> 
            </div>
        </div>
        <script src="/js/bootstrap.min.js" type="text/javascript"></script>
    </body>
</html>
